:root {
  /* Marca */
  --cor-primaria-900: #092a41; /* fundo principal */
  --cor-primaria-700: #11486e; /* botões e destaques */
  --cor-primaria-500: #1b6fa1; /* hover e links */

  /* Cores claras */
  --cor-clara-100: #f0fcff; /* fundo claro */
  --cor-clara-50: #effaff; /* texto claro / ícones */

  /* Fontes */
  --fonte-base: "Ubuntu", system-ui, -apple-system, sans-serif;
  --fonte-pequena: 0.75rem; /* 12px */
  --fonte-normal: 0.875rem; /* 14px */
  --fonte-media: 1rem; /* 16px */
  --fonte-grande: 1.25rem; /* 20px */
  --fonte-muito-grande: 1.75rem; /* 28px */

  --transicao-rapida: 0.2s ease;
  --transicao-padrao: 0.3s ease;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fonte-base);
  background-color: var(--cor-clara-100);
  color: var(--cor-primaria-900);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: var(--fonte-muito-grande);
}

a {
  color: var(--cor-primaria-700);
  text-decoration: none;
}

button {
  background-color: var(--cor-primaria-700);
  color: var(--cor-clara-100);
  padding: 8px 32px;
  border-radius: 8px;
  border: none;
  font-size: 0.8em;
  cursor: pointer;
}

li {
  list-style: none;
}

ul {
  display: flex;
  flex-direction: column;
}

.li-precos,
.li-servicos,
.li-contato {
  border-top: solid 1px rgba(255, 255, 255, 0.123);
  padding: 12px 0;
}

.li-home {
  padding: 12px 0;
}

.projetos {
  padding: 16px 24px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

.box-text-projetos {
  grid-column: 1 / -1;
  text-align: center;
}

.tit-projetos {
  font-size: 1.75rem;
}

.subtit-projetos {
  margin-top: 8px;
  font-size: 1rem;
}

.box-imgs-projetos {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
}

.tit-card-projeto {
  font-size: 1em;
  margin-top: 24px;
  text-align: center;
}

.card-img-projetos {
  background-color: var(--cor-clara-100);
  width: 100%;
  height: 40vh;
  overflow: hidden;
  margin: 16px auto;
  border-radius: 8px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.164);
}

.img-projeto {
  width: 100%;
  height: auto;
}

.btn-exibir {
  text-align: center;
}

.btn-exibir button {
  transition: transform 0.25s ease, box-shadow 0.25s ease,
    background-color 0.25s ease;
}

.btn-exibir button:hover {
  transform: translateY(-3px);
  background-color: var(--cor-primaria-500);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}


.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding-top: 30px;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal.ativa {
  opacity: 1;
  pointer-events: auto;
}

.modal-content {
  background: #fff;
  width: 75%;
  max-height: 80vh;
  border-radius: 12px;
  position: relative;
  overflow: auto;

  transform: scale(0.95);
  transition: transform 0.3s ease;
}

::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

.modal.ativa .modal-content {
  transform: scale(1);
}

.modal-scroll {
  max-height: 80vh;
  overflow-y: auto;
  padding: 16px;
}

.modal-content img {
  width: 100%;
  height: auto;
}

.modal-close {
  background-color: white;
  padding: 0px 10px;
  border-radius: 100%;
  position: sticky;
  top: 0;
  font-size: 32px;
  cursor: pointer;
  float: right;
}

.em-breve {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 24px;
}

.text-em-breve {
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 24px;
}

#footer2 {
  background: linear-gradient(to bottom, #06243b, #000000);
  padding: 24px 16px;
  color: var(--cor-clara-50);
  text-align: center;
  padding: 0 10vw;
}

.copy-final {
  padding-bottom: 16px;
}

/* ANIMAÇÕES */

/* Estado inicial */
.reveal {
  opacity: 0;
  transform: translateY(40px); /* vem de baixo */
  transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Quando aparece */
.reveal.ativo {
  opacity: 1;
  transform: translateY(0);
}






/* =====================
   TABLET (2 COLUNAS)
===================== */

@media (min-width: 768px) {
  .projetos {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .box-imgs-projetos {
    width: 100%;
    max-width: 340px;
  }

  .card-img-projetos {
    height: 45vh;
  }
}

/* =====================
   DESKTOP (3 COLUNAS)
===================== */

@media (min-width: 1024px) {
  .projetos {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: 0 auto;
  }

  .box-imgs-projetos {
    max-width: 320px;
  }

  .card-img-projetos {
    height: 50vh;
  }
}