@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

:root {
  /* Marca */
  --cor-primaria-900: #092a41; /* fundo principal */
  --cor-primaria-700: #11486e; /* botões e destaques */
  --cor-primaria-500: #1b6fa1; /* hover e links */

  /* Cores claras */
  --cor-clara-100: #f0fcff; /* fundo claro */
  --cor-clara-50: #effaff; /* texto claro / ícones */

  /* Fontes */
  --fonte-base: "Ubuntu", system-ui, -apple-system, sans-serif;
  --fonte-pequena: 0.75rem; /* 12px */
  --fonte-normal: 0.875rem; /* 14px */
  --fonte-media: 1rem; /* 16px */
  --fonte-grande: 1.25rem; /* 20px */
  --fonte-muito-grande: 1.75rem; /* 28px */

  --transicao-rapida: 0.2s ease;
  --transicao-padrao: 0.3s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fonte-base);
  background-color: var(--cor-clara-100);
  color: var(--cor-primaria-900);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--fonte-2xl);
}
h2 {
  font-size: var(--fonte-xl);
}
h3 {
  font-size: var(--fonte-lg);
}
p {
  font-size: var(--fonte-md);
}
a {
  color: var(--cor-primaria-700);
  text-decoration: none;
  transition: color var(--transicao-padrao);
}

li {
  list-style: none;
}

ul {
  display: flex;
  flex-direction: column;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  background-color: var(--cor-primaria-900);
  color: var(--cor-clara-50);
}

.logo-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.img-header {
  height: 40px;
  margin-right: var(--espaco-3);
}

.tit-header {
  font-weight: 300;
}

.button-menu {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  transition: background-color var(--transicao-rapida);
  width: 40px;
}

.button-menu img {
  width: 100%;
}

nav {
  display: none;
  border-radius: 4px;
}

nav.mostrar {
  display: block;
  background-color: var(--cor-primaria-900);
  padding: 4px 16px;
  position: absolute;
  top: 50px;
  right: 20px;
}

.item-li {
  color: var(--cor-clara-100);
}

.li-contato {
  padding: 12px 0;
}

.li-precos,
.li-projetos,
.li-servicos {
  border-top: solid 1px rgba(255, 255, 255, 0.123);
  padding: 12px 0;
}

.btn-cta-header {
  display: none;
}

/* HERO SECTION */

.hero-section {
  background: linear-gradient(to bottom, var(--cor-primaria-700), #000000);
  color: var(--cor-clara-50);
}

.tit-hero-section {
  padding: 56px 16px 0 16px;
  font-size: var(--fonte-muito-grande);
  line-height: 1.6;
}

.subtit-hero-section {
  margin: 16px 16px 0 16px;
  line-height: 1.5;
}

.botoes-hero-section {
  display: flex;
}

.cta-hero-section {
  display: flex;
  flex-direction: row;
  background-color: var(--cor-clara-100);
  color: var(--cor-primaria-900);
  width: 200px;
  max-width: 250px;
  margin: 42px 4px 0px 16px;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: var(--fonte-pequena);
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.cta-hero-section img {
  margin: 0px 0px 0px 4px;
  width: 28px;
}

.portfolio-hero-section {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  color: var(--cor-clara-100);
  width: 36vw;
  max-width: 170px;
  margin: 42px 16px 0px 16px;
  padding: 8px 16px;
  border: solid 1px var(--cor-clara-100);
  border-radius: 4px;
  font-size: var(--fonte-pequena);
  text-align: center;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.div-img-hero {
  text-align: end;
}

.img-hero {
  position: relative;
  width: 100vw;
  max-width: 750px;
  margin-top: 8vh;
}

/*PROBLEMA DOR*/

.problema {
  padding: 24px 16px;
}

.tit-problema {
  color: var(--cor-primaria-700);
  font-size: var(--fonte-grande);
  font-weight: 700;
}

.destaque-tit-problema {
  color: var(--cor-primaria-900);
  font-size: var(--fonte-muito-grande);
  font-weight: 900;
}

.text-problema {
  margin-top: 16px;
  font-size: var(--fonte-media);
}

.bullets-dores {
  display: flex;
  flex-direction: column;
  margin: 24px auto;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.bullet1,
.bullet2,
.bullet3 {
  text-align: center;
  max-width: 80%;
}

.desc-bullet1,
.desc-bullet2,
.desc-bullet3 {
  font-size: var(--fonte-pequena);
}

.bullets-dores img {
  max-width: 80px;
  border-radius: 100%;
  background-color: var(--cor-primaria-900);
  padding: 4px;
}

/* SOLUÇÃO CLARTI */



/* RESPONSIVIDADE 768PX */

@media (min-width: 768px) {
  .button-menu {
    display: none;
  }
  nav {
    display: flex;
  }
  ul {
    display: flex;
    flex-direction: row;
    gap: 48px;
  }
  li {
    margin-bottom: 0;
  }

  .li-precos,
  .li-projetos,
  .li-servicos {
    border-top: none;
    padding: 12px 0;
  }

  .btn-cta-header {
    display: block;
    background-color: var(--cor-clara-100);
    color: var(--cor-primaria-900);
    padding: 8px 16px;
    border-radius: 4px;
  }
}
