@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

:root {
  /* Marca */
  --cor-primaria-900: #092a41; /* fundo principal */
  --cor-primaria-700: #11486e; /* botões e destaques */
  --cor-primaria-500: #1b6fa1; /* hover e links */

  /* Cores claras */
  --cor-clara-100: #f0fcff; /* fundo claro */
  --cor-clara-50: #effaff; /* texto claro / ícones */

  /* Fontes */
  --fonte-base: "Ubuntu", system-ui, -apple-system, sans-serif;
  --fonte-pequena: 0.75rem; /* 12px */
  --fonte-normal: 0.875rem; /* 14px */
  --fonte-media: 1rem; /* 16px */
  --fonte-grande: 1.25rem; /* 20px */
  --fonte-muito-grande: 1.75rem; /* 28px */

  --transicao-rapida: 0.2s ease;
  --transicao-padrao: 0.3s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fonte-base);
  background-color: var(--cor-clara-100);
  color: var(--cor-primaria-900);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--fonte-2xl);
}
h2 {
  font-size: var(--fonte-xl);
}
h3 {
  font-size: var(--fonte-lg);
}
p {
  font-size: var(--fonte-md);
}
a {
  color: var(--cor-primaria-700);
  text-decoration: none;
  transition: color var(--transicao-padrao);
}

li {
  list-style: none;
  margin-bottom: 24px;
}

.item-li {
  color: var(--cor-clara-100);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  background-color: var(--cor-primaria-900);
  color: var(--cor-clara-50);
}

.img-header {
  height: 60px;
  margin-right: var(--espaco-3);
}

.button-menu {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  transition: background-color var(--transicao-rapida);
  width: 40px;
}

.button-menu img {
  width: 100%;
}

nav {
  display: none;
}

nav.mostrar {
  display: block;
  background-color: var(--cor-primaria-900);
  padding: 20px 16px;
  position: absolute;
  top: 100px;
  right: 20px;
}

@media (min-width: 768px) {
  .button-menu {
    display: none;
  }
  nav {
    display: flex;
  }
  ul {
    display: flex;
    gap: 48px;
  }
  li {
    margin-bottom: 0;
  }
}
